PORT=5000
MONGO_URI=mongodb+srv://<db_username>:<db_password>@bookadoctor.swsgmra.mongodb.net/book-a-doctor?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=7d
NODE_ENV=development
UPLOAD_PATH=uploads
DEFAULT_ADMIN_EMAIL=admin@bookadoctor.com
DEFAULT_ADMIN_PASSWORD=AdminPassword123!
